@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

.app {
  text-align: center;
}

main {
  font-family: Karla, sans-serif;
  border-radius: 5px;
  background-color: #f5f5f5;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: Inter, sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.die {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff;
  box-shadow: 0 2px 2px #00000026;
  border-radius: 4px;
  width: 45px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-weight: 700;
  font-size: 21px;
  color: #2b283a;
  transition: all 400ms ease-in-out;
}

.die:hover {
  transform: translateY(2px);
  transition: all 400ms ease-in-out;
}

.die:active {
  transform: translateY(-2px);
  transition: all 400ms ease-in-out;
}

.dice {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  row-gap: 20px;
  width: 80%;
  justify-content: space-around;
  grid-template-rows: auto auto;
}

.roll-dice {
  margin-top: 50px;
  font-weight: 700;
  font-size: 17.384px;
  color: #ffff;
  background: #5035ff;
  box-shadow: 0 4px 8px #0000002e;
  border-radius: 4px;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  border: none;
  transition: all 100ms ease-in-out;
}

.roll-dice:active {
  box-shadow: inset 5px 5px 10px -3px #000000b3;
  transition: all 100ms ease-in-out;
}

.hold-die {
  background-color: #59e391;
  box-shadow: 0 2px 2px #00000026;
  border-radius: 4px;
}

:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: #1b8170;
  --link-hover: #185e52;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #cfafaf;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toggle-switch {
  position: relative;
  width: 200px;
}

label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0 0 var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: var(--dark);
  box-shadow: none;
}
